In [11]:
def message_print(*a,**b):
    print(a)
    print(b)

In [12]:
message_print(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)
{}

In [13]:
d={1:'one',2:'two',3:'three',4:'four'}

In [14]:
d.keys()

dict_keys([1, 2, 3, 4])

In [15]:
d.values()

dict_values(['one', 'two', 'three', 'four'])

In [16]:
d.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')])

In [17]:
d[1]

'one'

In [18]:
d.get(5,'NONE')

'NONE'

In [19]:
d

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [26]:
del d[1]
d

{2: 'two', 4: 'four', 5: 'five'}

In [22]:
d.pop(3)

'three'

In [24]:
d.update({1:'one', 5:'five'})
d

{2: 'two', 4: 'four', 5: 'five', 1: 'one'}

In [27]:
for i in d:
    print(i)

2
4
5

In [29]:
for i,j in d.items():
    print(i,'=',j)

2 = two
4 = four
5 = five

In [30]:
li=[1,2,3,4,5,6]
li[0]

1

In [32]:
li[1:]

[2, 3, 4, 5, 6]

In [33]:
li[-1]

6

In [34]:
li[-4:-1]

[3, 4, 5]

In [41]:
ans=[]
for i in li:
    if(i%2==0):
        ans.append(0)
    else:
        ans.append(1)

In [42]:
print(ans)

[1, 0, 1, 0, 1, 0]

In [43]:
def function(i):
    if(i%2==0):
        return 0
    else:
        return 1

In [44]:
answer=map(function,li)

In [45]:
list(answer)

[1, 0, 1, 0, 1, 0]

In [46]:
ans1=map(lambda x:0 if x%2==0 else 1,li)

In [47]:
list(ans1)

[1, 0, 1, 0, 1, 0]

In [48]:
a= lambda: print("Hello World")
a()

Hello World

In [49]:
b= lambda x,y: print(x,y)

In [1]:
b=(5,6)

In [2]:
b= lambda *args, **kwargs: print(args) or print(kwargs)

In [3]:
b(1,2,3,4,5, name='Anugya')

(1, 2, 3, 4, 5)
{'name': 'Anugya'}

In [4]:
a=1
b=2
a>b and True or False

False

In [6]:
li=[1,2,3,4,5,6,7,8]
ans=filter(lambda x:1 if x%2==0 else 0,li)

In [7]:
list(ans)

[2, 4, 6, 8]

In [10]:
from functools import reduce

In [13]:
ans=reduce (lambda a,b:a+b,li)

In [14]:
ans

36